@font-face {
    font-family: 'CustomExcalidraw';
    src: url('fonts/Excalifont-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



body {
    font-family: 'CustomExcalidraw', sans-serif;
    background-color: #f5f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    width: 70vw;
    height: 90vh;
    /*border: solid 2px #020202;
    border-radius: 22px;*/
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px #020202;
    padding: 20px 10px;
}

header > div {
    font-size: 2.5rem;
}

section {
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.left-column {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0% 5%;
}

.greeting {
    text-align: left;
    padding: 2;
}

.aboutme {
    font-size: large;
    font-size: 1.5rem;
}

.greeting > h1 {
    font-weight: normal;
    font-size: 4rem;
}

.right-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 20px;
}

.check-project > h1 {
    font-size: xx-large;
    padding-top: 15%;
    margin: 0px 5% 15px 0;
}

#project1, #project2 {
    width: 80%;
    height: 130px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin-bottom: 15px;
}



footer {
    display: flex;
    justify-content: center;
    font-size: small;
    border-top: solid 2px #020202;
    padding: 0;
    
}

footer .info {
    text-align: center;
}


footer .links {
    display: flex;
    justify-content: right;
    padding: 2px 20px;
    gap: 15px;

}

footer > div {
    flex: 1;
    padding: 2px;
}

#canvas {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;  
        }



@media (max-width: 1000px) {
    section {
        flex-direction: column;
    }
    
    .container {
        height: auto;
        width: 90vw;
    }
    .right-column {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    header {
        flex-direction: column;
        align-items: center;
        height: auto
    }

}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
        height: auto
    }
}